{:paths ["dev" "src"]
 :deps {org.clojure/data.json {:mvn/version "2.4.0"}
        io.github.nextjournal/clerk {:mvn/version "0.13.842"}
        cnuernber/dtype-next {:mvn/version "10.000-beta-39"}}}
